In [3]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[1]").appName("setup").getOrCreate()

In [4]:
#read_files
accounts = spark.read.options(header='True', inferSchema='True', delimiter=';') \
     .csv("/home/jovyan/accounts.csv")
country_abbreviation = spark.read.options(header='True', inferSchema='True', delimiter=';') \
     .csv("/home/jovyan/country_abbreviation.csv")
transactions = spark.read.options(header='True', inferSchema='True', delimiter=';') \
     .csv("/home/jovyan/transactions.csv")

In [7]:
#Create temp views to query
accounts.createOrReplaceTempView("accounts")
country_abbreviation.createOrReplaceTempView("country_abbreviation")
transactions.createOrReplaceTempView("transactions")

In [12]:
spark.sql("""
    SELECT account_type, INT(COUNT(account_type)) AS account_type_count 
    FROM transactions
    GROUP BY account_type
""")

DataFrame[account_type: string, account_type_count: int]

In [13]:
spark.sql("""
    SELECT STRING(id) AS account_id, (SUM(amount))DATE(MAX(transaction_date)) AS latest_date
    FROM transactions
    GROUP BY id
""").show()

+----------+-----------+
|account_id|latest_date|
+----------+-----------+
|    482333| 2020-07-17|
|    222048| 2020-07-20|
|    328078| 2020-02-01|
|    192401| 2020-01-30|
|    273916| 2021-05-30|
|    485103| 2021-05-22|
|    300282| 2021-05-01|
|     20683| 2021-10-27|
|     15846| 2020-12-23|
|    446783| 2021-12-11|
|     92182| 2020-08-08|
|    477485| 2020-05-23|
|    171142| 2021-04-07|
|    317762| 2021-12-02|
|     65478| 2021-10-06|
|    306768| 2019-12-19|
|    380411| 2020-06-02|
|    304681| 2021-03-26|
|    475638| 2021-11-23|
|     97413| 2018-05-01|
+----------+-----------+
only showing top 20 rows